#container {
margin: 100px auto;
width: 680px;
text-align: center;
}
body {
font: 71%/1.5 Verdana, Sans-Serif;
background: #eee;
}
#write {
margin: 0 0 5px;
padding: 5px;
width: 667px;
height: 200px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#read {
margin: 10px 0 -15px;
padding: 15px;
width: 648px;
height: 200px;
font: 2.5em/1.5 Verdana, Sans-Serif;
background: rgb(0,147,181);
color: white;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
white-space:inherit;
text-align: left;
position: relative;
}
#confetti {
  display: inline-block;
}
#read.incorrect {
  background-color: rgb(180,96,96) !important;
}

.img-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: -80pt;
}

.prev {
  left: -80pt;
}

.img-button img {
  width: 24pt;
}

#keyboard {
background: #0000004d;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 0;
padding: 2px;
list-style: none;
overflow:auto;
}

#keyboard li {
float: left;
margin: 2px;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
.tab{
clear: left;
}
.lastitem {
margin-right: 0;
}
#keyboard .return {
width: 77px;
}
#keyboard .capslock {
width: 80px;
}
#keyboard .tab,  #keyboard .delete{
width: 72px;
}
.pressed{
background: orange !important;
}
.prompt{
  color: white;
  background: blue !important;
}
.uppercase {
text-transform: uppercase;
}
#keyboard .space {
width: 224px;
height: 55px;
}
#keyboard .esc{
	width: 42.28px;
	height: 25px;
}

#keyboard .shift {
width: 102px;
}
#keyboard .command{
	width: 56px;
	height: 55px;
}
#keyboard .arrows{
	line-height: 20px !important;
	height: 20px !important;
}

#keyboard .option, #keyboard .control, #keyboard .function{
	height: 55px;
}
#keyboard .special {
height: 25px;
width: 42.28px;
}
div .arrows{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;	
}
.on {
display: none;
}
