{
    "extends": [ "airbnb","plugin:prettier/recommended"],
    "parser": "babel-eslint",
    "parserOptions": { "sourceType": "module" },
    "rules": {
      "prettier/prettier": ["error", { "singleQuote": true }],
      "quotes": [2, "single", { "avoidEscape": true }]
    }
  }