<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Keyboard</title>
    <link rel="stylesheet" type="text/css" href="CSS/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
    <script src="https://unpkg.com/typewriter-effect/dist/core.js" defer></script>
    <script type="text/javascript">
      window.isLoggedIn = <%= !!currentUserId %>;
    </script>
    <script src="/js/bundle.js" defer></script>
    <div class="container">
      <div id="top">
        <div id="read">
          <a id="prevButton" class="prev img-button" href="javascript:prevQuestion();"><img src="images/arrow_left.png"></img></a>
          <div id="textdiv"></div>
          <div id="timing-feedback"></div>
          <a id="nextButton" class="next img-button" href="javascript:nextQuestion();"><img src="images/arrow_right.png"></img></a>
        </div>
        <div id="shortcut-tag"> Mac Shortcut </div>
        <a class="cheatsheet" href="cheatsheet">Cheat Sheet</a>
        <div id="confetti"></div>
      </div>
      <div id="timings" class="timing-container">
        <div id="timing-0" class="timing-entry"></div>
        <div id="timing-1" class="timing-entry"></div>
        <div id="timing-2" class="timing-entry"></div>
      </div>
      <div id="bottom">
        <div id='hint-checkbox-container'>
          <input type="checkbox" id="show-hint" checked='true' />
          <span>Show Hint</span>
        </div>
        <div id="keyboard">
          <ul class="row">
          <li class="special" id="escape" data-keycode="27">esc</li>
          <li class="special" id="f1" data-keycode="112">F1</li>
          <li class="special" id="f2" data-keycode="113">F2</li>
          <li class="special" id="f3" data-keycode="114">F3</li>
          <li class="special" id="f4" data-keycode="115">F4</li>
          <li class="special" id="f5" data-keycode="116">F5</li>
          <li class="special" id="f6" data-keycode="117">F6</li>
          <li class="special" id="f7" data-keycode="118">F7</li>
          <li class="special" id="f8" data-keycode="119">F8</li>
          <li class="special" id="f9" data-keycode="120">F9</li>
          <li class="special" id="f10" data-keycode="121">F10</li>
          <li class="special" id="f11" data-keycode="122">F11</li>
          <li class="special" id="f12" data-keycode="123">F12</li>
          <li class="special lastitem" id="f13" data-keycode="124">TBD</li>
        </ul>
        <ul class="row">
          <li class="symbol double" id="backquote" data-keycode="192"><span class="off">~<br/>`</span><span class="on">~</span><span class="on">`</span></li>
          <li class="symbol double" id="1" data-keycode="49"><span class="off">!<br/>1</span><span class="on">!</span><span class="on">1</span></li>
          <li class="symbol double" id="2" data-keycode="50"><span class="off">@<br/>2</span><span class="on">@</span><span class="on">2</span></li>
          <li class="symbol double" id="3" data-keycode="51"><span class="off">#<br/>3</span><span class="on">#</span><span class="on">3</span></li>
          <li class="symbol double" id="4" data-keycode="52"><span class="off">$<br/>4</span><span class="on">$</span><span class="on">4</span></li>
          <li class="symbol double" id="5" data-keycode="53"><span class="off">%<br/>5</span><span class="on">%</span><span class="on">5</span></li>
          <li class="symbol double" id="6" data-keycode="54"><span class="off">^<br/>6</span><span class="on">^</span><span class="on">6</span></li>
          <li class="symbol double" id="7" data-keycode="55"><span class="off">&amp;<br/>7</span><span class="on">&amp;</span><span class="on">7</span></li>
          <li class="symbol double" id="8" data-keycode="56"><span class="off">*<br/>8</span><span class="on">*</span><span class="on">8</span></li>
          <li class="symbol double" id="9" data-keycode="57"><span class="off">(<br/>9</span><span class="on">(</span><span class="on">9</span></li>
          <li class="symbol double" id="0" data-keycode="48"><span class="off">)<br/>0</span><span class="on">)</span><span class="on">0</span></li>
          <li class="symbol double" id="minus" data-keycode="189"><span class="off">_<br/>-</span><span class="on">_</span><span class="on">-</span></li>
          <li class="symbol double" id="equal" data-keycode="187"><span class="off">+<br/>=</span><span class="on">+</span><span class="on">=</span></li>
          <li class="delete lastitem" id="backspace" data-keycode="8">delete</li>
          </ul>
          <ul class="row">
          <li class="tab" id="tab" data-keycode="9">tab</li>
          <li class="letter" id="q" data-keycode="81">q</li>
          <li class="letter" id="w" data-keycode="87">w</li>
          <li class="letter" id="e" data-keycode="69">e</li>
          <li class="letter" id="r" data-keycode="82">r</li>
          <li class="letter" id="t" data-keycode="84">t</li>
          <li class="letter" id="y" data-keycode="89">y</li>
          <li class="letter" id="u" data-keycode="85">u</li>
          <li class="letter" id="i" data-keycode="73">i</li>
          <li class="letter" id="o" data-keycode="79">o</li>
          <li class="letter" id="p" data-keycode="80">p</li>
          <li class="symbol double" id="bracketleft" data-keycode="219">{<br/>[</li>
          <li class="symbol double" id="bracketright" data-keycode="221">]<br/>}</li>
          <li class="symbol double" id="backslash" data-keycode="220">|<br/>\</li>
          </ul>
          <ul class="row">
          <li class="capslock" id="capslock" data-keycode="20">caps lock</li>
          <li class="letter" id="a" data-keycode="65">a</li>
          <li class="letter" id="s" data-keycode="83">s</li>
          <li class="letter" id="d" data-keycode="68">d</li>
          <li class="letter" id="f" data-keycode="70">f</li>
          <li class="letter" id="g" data-keycode="71">g</li>
          <li class="letter" id="h" data-keycode="72">h</li>
          <li class="letter" id="j" data-keycode="74">j</li>
          <li class="letter" id="k" data-keycode="75">k</li>
          <li class="letter" id="l" data-keycode="76">l</li>
          <li class="symbol double" id="semicolon" data-keycode="186"><span class="off">:<br/>;</span><span class="on" id=";">;</span><span class="on" id=":">:</span></li>
          <li class="symbol double" id="quote" data-keycode="222"><span class="off">'<br/>&quot;</span><span id="'" class="on">'</span><span class="on" id="quot">&quot;</span></li>
          <li class="return lastitem" id="enter" data-keycode="13">return</li>
        </ul>
        <ul class="row">
          <li class="shift" id="shiftleft" data-keycode="16">shift</li>
          <li class="letter" id="z" data-keycode="90">z</li>
          <li class="letter" id="x" data-keycode="88">x</li>
          <li class="letter" id="c" data-keycode="67">c</li>
          <li class="letter" id="v" data-keycode="86">v</li>
          <li class="letter" id="b" data-keycode="66">b</li>
          <li class="letter" id="n" data-keycode="78">n</li>
          <li class="letter" id="m" data-keycode="77">m</li>
          <li class="symbol double" id="comma" data-keycode="188"><span class="off">&lt;<br/>,</span><span class="on">,</span><span class="on">&lt;</span></li>
          <li class="symbol double" id="period" data-keycode="190"><span class="off">&gt;<br/>.</span><span class="on">.</span><span class="on">&gt;</span></li>
          <li class="symbol double" id="slash" data-keycode="191"><span class="off">?<br/>/</span><span class="on">/</span><span class="on">?</span></li>
          <li class="shift lastitem" id="shiftright" data-keycode="16">shift</li>
        </ul>
        <ul class="row">
          <li class="function" id="fnc" data-keycode="fn">fn</li>
          <li class="control" id="control" data-keycode="17"><span>control</span></li>
          <li class="option" id="altleft" data-keycode="18">option</li>
          <li class="command" id="metaleft" data-keycode="91">command</li>
          <li class="space" id="space" data-keycode="32">&nbsp;</li>
          <li class="command" id="metaright" data-keycode="91">command</li>
          <li class="option" id="altright" data-keycode="18">option</li>
          <li class="arrows" id="arrowleft" data-keycode="37" style ="margin-top: 20px;" >&#9664;</li>
          <li class="arrows" data-keycode="38"><div class="arrows" id="arrowup">&#9650;</div></li>
          <li class="arrows" style="margin-top: 37px; margin-left: -44px;" data-keycode="40"><div id="arrowdown">&#9660;</div></li>
          <li class="arrows" id="arrowright" data-keycode="39"  style ="margin-top: 20px;" >&#9658;</li>
            </ul>
        </ul>
      </div>
      <div>
        <p>
          <% if (currentUserId) { %>
            You are logged in as <%= currentUserId %>. <a href="/logout">Logout</a>
          <% } else { %>
            You are not logged in. <a href="/login">Login</a> to save your progress!
          <% } %>
        </p>
        <p class="center-text-horizontally">This project is open-source! <a href="https://github.com/Techtonica/keyboard-shortcuts-practice">Look at the code and contribute here</a>.</p>
      </div>
  </body>
</html>
