.container {
  height: 100vh;
  margin: 0px auto;
}

.center-text-horizontally {
  text-align: center;
}

.image-container {
  width: 800px;
}

.image-container img {
  width: 800px;
}

.center-column {
  width: 690px;
}

.log-button {
  border-radius: 5px;
  font-size:  12px;
  padding: 3px 10px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  font: 71%/1.5 Verdana, Sans-Serif;
  color: #37474F;
  margin: 0;
}

#top {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f4;
  flex-direction: column;
}

#bottom {
  height: 50%;
  background-color: white;
  width: 680px;
  margin: 70px auto;
}

#write {
  margin: 0 0 5px;
  padding: 5px;
  width: 667px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#read {
  margin: 10px 0 -15px;
  padding: 15px;
  width: 648px;
  height: 180px;
  font: 2.5em/1.5 'Roboto', Sans-Serif;
  background: white;
  color: #37474F;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  white-space:inherit;
  text-align: left;
  position: relative;
  border: 6px solid white;
}
#confetti {
  display: inline-block;
}
#read.incorrect {
  border: 6px solid #ff000080 !important;
}

.cheatsheet {
  margin-top: 15px;
}

.img-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: -80pt;
}

.prev {
  left: -80pt;
}

.img-button img {
  width: 24pt;
}

#keyboard {
  background: #ECEFF1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0;
  padding: 2px;
  overflow:auto;
  font-family: 'Roboto', sans-serif;;
}
#keyboard ul.row {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#keyboard li {
  float: left;
  margin: 2px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.tab{
  clear: left;
}
.lastitem {
  margin-right: 0;
}
#keyboard .return {
  width: 77px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .tab,  #keyboard .delete{
  width: 72px;
}
.prompt{
  color: white;
  background: #03a678 !important;
}
.pressed{
  color: white;
  background: #3455db !important;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  width: 224px;
  height: 55px;
}

#keyboard .double {
  line-height: 17px;
  padding-top: 2px;
  height: 38px;
}

#keyboard .shift {
  width: 102px;
}
#keyboard .command{
  width: 56px;
}
#keyboard .arrows{
  line-height: 20px !important;
  height: 20px !important;
}

#keyboard .option, #keyboard .control, #keyboard .function, #keyboard .command {
  height: 55px;
  line-height: 55px;
}

#keyboard .special {
  height: 25px;
  line-height: 25px;
  width: 42.28px;
}

div .arrows{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;	
}
.on {
  display: none;
}

.timing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timing-entry {
  background: lightblue;
  padding: 1em;
  border-radius: 4px;
  margin: -1.5em 1em 0em 1em;
}

#shortcut-tag{
  border-radius: 50px;
  color: #ffffff;
  font-size: 12px;
  margin-top: 30px;
  padding: 3px 10px;
  text-align: center;
  text-transform: capitalize;
  width: 100px;
}

#hint-checkbox-container {
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

#hint-checkbox-container span {
  vertical-align: text-bottom;
}

#hint-checkbox-container #show-hint {
  height: 1rem;
  width: 1rem;
}

#account-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  margin: -37.5px 0px 32.5px 0px;
}

#login-button {
  color: #28a7c5;
  background-color: #ffffff;
  border: 1px solid #28a7c5;
}

#logout-button {
  color: #ffffff;
  background-color: #28a7c5;
  border: 1px solid #28a7c5;
}

#login-indicator {
  margin: 0rem 0.5rem;
}